
out/production/BAPERS-FINAL/GUI/images/Server-Backup-Icon.png
out/production/BAPERS-FINAL/GUI/images/Staff-Report-Icon-User-Account-Icon.png
out/production/BAPERS-FINAL/GUI/images/Tasks-Icon.png
out/production/BAPERS-FINAL/GUI/images/TasksIcon.jpg
out/production/BAPERS-FINAL/GUI/JobProgressScreen.class
out/production/BAPERS-FINAL/GUI/JobsScreen.class
out/production/BAPERS-FINAL/GUI/Login.class
out/production/BAPERS-FINAL/GUI/RecordPaymentScreen.class
out/production/BAPERS-FINAL/GUI/RegisterNewCustomerScreen.class
out/production/BAPERS-FINAL/GUI/RegisterNewUserScreen.class
out/production/BAPERS-FINAL/GUI/ReportsScreen.class
out/production/BAPERS-FINAL/GUI/TasksScreen.class
out/production/BAPERS-FINAL/GUI/UpdateExistingTaskScreen.class
out/production/BAPERS-FINAL/GUI/UserAccountScreen$1.class
out/production/BAPERS-FINAL/GUI/UserAccountScreen.class
out/production/BAPERS-FINAL/GUI/Window.class
out/production/BAPERS-FINAL/module-info.class
out/production/BAPERS-FINAL/PAYMENT/CardDetails.class
out/production/BAPERS-FINAL/PAYMENT/I_Payment.class
out/production/BAPERS-FINAL/PAYMENT/Payment.class
out/production/BAPERS-FINAL/PAYMENT/SQL_PaymentHelper.class
out/production/BAPERS-FINAL/PROCESS/I_PROCESS.class
out/production/BAPERS-FINAL/PROCESS/Job.class
out/production/BAPERS-FINAL/PROCESS/SQL_JobHelper.class
out/production/BAPERS-FINAL/PROCESS/SQL_TaskHelper.class
out/production/BAPERS-FINAL/PROCESS/SQLHelper2.class
out/production/BAPERS-FINAL/PROCESS/Task.class
out/production/BAPERS-FINAL/PROCESS/TaskDescription.class
out/production/BAPERS-FINAL/PROCESS/TaskList.class
out/production/BAPERS-FINAL/REPORT/CustomerReport.class
out/production/BAPERS-FINAL/REPORT/Report.class
out/production/BAPERS-FINAL/REPORT/StaffReport.class
out/production/BAPERS-FINAL/REPORT/SummaryReport.class
out/production/BAPERS-FINAL/ACCOUNT/CustomerAccountDetails.class
out/production/BAPERS-FINAL/ACCOUNT/I_CustomerAccount.class
out/production/BAPERS-FINAL/ACCOUNT/Impl_CustomerAccount.class
out/production/BAPERS-FINAL/ACCOUNT/ListOfCustomers.class
out/production/BAPERS-FINAL/ACCOUNT/SQL_CustomerAccountHelper.class
out/production/BAPERS-FINAL/ADMIN/Alert.class
out/production/BAPERS-FINAL/ADMIN/Database.class
out/production/BAPERS-FINAL/ADMIN/DatabaseConnectivity.class
out/production/BAPERS-FINAL/ADMIN/DBConfiguration.class
out/production/BAPERS-FINAL/ADMIN/I_DatabaseConnectivity.class
out/production/BAPERS-FINAL/ADMIN/SQL_UserHelper.class
out/production/BAPERS-FINAL/ADMIN/SQLHelper.class
out/production/BAPERS-FINAL/ADMIN/UserAccount.class
out/production/BAPERS-FINAL/CONTROLLER/ACCT_UI_Controller.class
out/production/BAPERS-FINAL/CONTROLLER/ADMIN_UI_Controller.class
out/production/BAPERS-FINAL/CONTROLLER/Main.class
out/production/BAPERS-FINAL/CONTROLLER/PROC_UI_Controller.class
out/production/BAPERS-FINAL/CONTROLLER/UI_Controller.class
out/production/BAPERS-FINAL/CUSTOMER/Discount.class
out/production/BAPERS-FINAL/CUSTOMER/FixedDiscountRate.class
out/production/BAPERS-FINAL/CUSTOMER/FlexibleDiscountRate.class
out/production/BAPERS-FINAL/CUSTOMER/VariableDiscountRate.class
out/production/BAPERS-FINAL/GUI/ActiveJobScreen.class
out/production/BAPERS-FINAL/GUI/AddNewTaskScreen.class
out/production/BAPERS-FINAL/GUI/CreateJobScreen.class
out/production/BAPERS-FINAL/GUI/CustomerAccountScreen.class
out/production/BAPERS-FINAL/GUI/DatabaseScreen.class
out/production/BAPERS-FINAL/GUI/EditCustomerDetailsScreen.class
out/production/BAPERS-FINAL/GUI/EditUserScreen.class
out/production/BAPERS-FINAL/GUI/fxml/AddNewTask.fxml
out/production/BAPERS-FINAL/GUI/fxml/CreateJobOrder.fxml
out/production/BAPERS-FINAL/GUI/fxml/CustomerAccounts.fxml
out/production/BAPERS-FINAL/GUI/fxml/Database.fxml
out/production/BAPERS-FINAL/GUI/fxml/EditCustomerDetails.fxml
out/production/BAPERS-FINAL/GUI/fxml/EditUserDetails.fxml
out/production/BAPERS-FINAL/GUI/fxml/HomeScreen.fxml
out/production/BAPERS-FINAL/GUI/fxml/Jobs.fxml
out/production/BAPERS-FINAL/GUI/fxml/Login.fxml
out/production/BAPERS-FINAL/GUI/fxml/ProgressTasks.fxml
out/production/BAPERS-FINAL/GUI/fxml/RecordPayment.fxml
out/production/BAPERS-FINAL/GUI/fxml/RegisterNewCustomer.fxml
out/production/BAPERS-FINAL/GUI/fxml/RegisterNewUser.fxml
out/production/BAPERS-FINAL/GUI/fxml/Reports.fxml
out/production/BAPERS-FINAL/GUI/fxml/Tasks.fxml
out/production/BAPERS-FINAL/GUI/fxml/UpdateTasks.fxml
out/production/BAPERS-FINAL/GUI/fxml/UserAccounts.fxml
out/production/BAPERS-FINAL/GUI/HomeScreen.class
out/production/BAPERS-FINAL/GUI/images/BAPERS Logo Final.png
out/production/BAPERS-FINAL/GUI/images/BapersLogo
out/production/BAPERS-FINAL/GUI/images/BapersLogo.jpg
out/production/BAPERS-FINAL/GUI/images/BIPL-Performance-Report-Icon.png
out/production/BAPERS-FINAL/GUI/images/Create-Job-Order-icon.jpg
out/production/BAPERS-FINAL/GUI/images/Create-Job-Order-Icon.png
out/production/BAPERS-FINAL/GUI/images/Customer-Accounts-icon.jpg
out/production/BAPERS-FINAL/GUI/images/Customer-Report-Customer-Account-Icon.png
out/production/BAPERS-FINAL/GUI/images/CustomerAccount (2).jpeg
out/production/BAPERS-FINAL/GUI/images/CustomerAccount.jpeg
out/production/BAPERS-FINAL/GUI/images/CustomerAccountIcon.jpg
out/production/BAPERS-FINAL/GUI/images/Database-Icon.png
out/production/BAPERS-FINAL/GUI/images/Database-Restore-Icon.png
out/production/BAPERS-FINAL/GUI/images/Database-title.jpg
out/production/BAPERS-FINAL/GUI/images/DatabaseIcon.jpg
out/production/BAPERS-FINAL/GUI/images/DatabaseIcon2.jpg
out/production/BAPERS-FINAL/GUI/images/Delete-Icon.png
out/production/BAPERS-FINAL/GUI/images/DeleteIcon.jpg
out/production/BAPERS-FINAL/GUI/images/Edit-Customer-Details-Page.jpg
out/production/BAPERS-FINAL/GUI/images/Edit-Icon.png
out/production/BAPERS-FINAL/GUI/images/EditCustomerDetails.fxml
out/production/BAPERS-FINAL/GUI/images/editIcon.jpg
out/production/BAPERS-FINAL/GUI/images/editIcon.png
out/production/BAPERS-FINAL/GUI/images/Home-PageIcon.jpg
out/production/BAPERS-FINAL/GUI/images/Homepage
out/production/BAPERS-FINAL/GUI/images/HomeScreen.fxml
out/production/BAPERS-FINAL/GUI/images/Job-Icon.png
out/production/BAPERS-FINAL/GUI/images/JobsIcon.jpg
out/production/BAPERS-FINAL/GUI/images/JobsTitle.jpg
out/production/BAPERS-FINAL/GUI/images/Record-Payment-Icon.png
out/production/BAPERS-FINAL/GUI/images/Record-Payments-icon.jpg
out/production/BAPERS-FINAL/GUI/images/RecordPaymentIcon.jpg
out/production/BAPERS-FINAL/GUI/images/Register-New-Customer-Page.jpg
out/production/BAPERS-FINAL/GUI/images/Register-New-Customer-User-Icon.png
out/production/BAPERS-FINAL/GUI/images/Reports-Icon.png
out/production/BAPERS-FINAL/GUI/images/ReportsIcon.png
out/production/BAPERS-FINAL/GUI/images/RestoreIcon.jpg
*.iml
out/*
libs/*
.idea/*
BAPERS3/PROCESS/Testing.java
.idea/BAPERS-FINAL.iml
.idea/dbnavigator.xml
BAPERS3/TESTING/*
target/classes/ACCOUNT/CustomerAccountDetails.class
target/classes/ACCOUNT/I_CustomerAccount.class
target/classes/ACCOUNT/Impl_CustomerAccount.class
target/classes/ACCOUNT/ListOfCustomers.class
target/classes/ACCOUNT/SQL_CustomerAccountHelper.class
target/classes/ADMIN/AlertUser.class
target/classes/ADMIN/Database.class
target/classes/ADMIN/DatabaseConnectivity.class
target/classes/ADMIN/DBConfiguration.class
target/classes/ADMIN/I_DatabaseConnectivity.class
target/classes/ADMIN/SQL_UserHelper.class
target/classes/ADMIN/SQLHelper.class
target/classes/ADMIN/UserAccount.class
target/classes/CONTROLLER/ACCT_UI_Controller.class
target/classes/CONTROLLER/ADMIN_UI_Controller.class
target/classes/CONTROLLER/Main.class
target/classes/CONTROLLER/PROC_UI_Controller.class
target/classes/CONTROLLER/UI_Controller.class
target/classes/CUSTOMER/Discount.class
target/classes/CUSTOMER/FixedDiscountRate.class
target/classes/CUSTOMER/FlexibleDiscountRate.class
target/classes/CUSTOMER/VariableDiscountRate.class
target/classes/GENERATED/REPORTS/CUSTOMERREPORT/CustomerReport1617049745973.pdf
target/classes/GENERATED/REPORTS/CUSTOMERREPORT/CustomerReport1617049995716.pdf
target/classes/GENERATED/REPORTS/CUSTOMERREPORT/CustomerReport1617050099494.pdf
target/classes/GENERATED/REPORTS/CUSTOMERREPORT/CustomerReport1617050137808.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617070864752.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617070926421.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617070962118.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617070979574.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617071044865.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617071119392.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617072754305.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617072774144.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617072820032.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617072852740.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617072893261.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617072918780.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617073859532.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617074052153.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617074211318.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617074511928.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617074703931.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617074791394.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617074882702.pdf
target/classes/GENERATED/REPORTS/SUMMARYREPORT/SummaryReport1617074931805.pdf
target/classes/GUI/ActiveJobScreen.class
target/classes/GUI/AddNewTaskScreen.class
target/classes/GUI/CreateJobScreen$1.class
target/classes/GUI/CreateJobScreen.class
target/classes/GUI/CreateJobSetupScreen$1.class
target/classes/GUI/CreateJobSetupScreen.class
target/classes/GUI/CustomerAccountScreen$1.class
target/classes/GUI/CustomerAccountScreen$2.class
target/classes/GUI/CustomerAccountScreen$3.class
target/classes/GUI/CustomerAccountScreen$4.class
target/classes/GUI/CustomerAccountScreen.class
target/classes/GUI/DatabaseScreen.class
target/classes/GUI/EditCustomerDetailsScreen$1.class
target/classes/GUI/EditCustomerDetailsScreen.class
target/classes/GUI/EditExistingTaskScreen.class
target/classes/GUI/EditUserScreen.class
target/classes/GUI/fxml/AddNewTask.fxml
target/classes/GUI/fxml/CreateJobOrder.fxml
target/classes/GUI/fxml/CreateJobSetup.fxml
target/classes/GUI/fxml/CustomerAccounts.fxml
target/classes/GUI/fxml/Database.fxml
target/classes/GUI/fxml/EditCustomerDetails.fxml
target/classes/GUI/fxml/EditExistingTasks.fxml
target/classes/GUI/fxml/EditUserDetails.fxml
target/classes/GUI/fxml/HomeScreen.fxml
target/classes/GUI/fxml/Jobs.fxml
target/classes/GUI/fxml/Login.fxml
target/classes/GUI/fxml/Payments.fxml
target/classes/GUI/fxml/ProgressTasks.fxml
target/classes/GUI/fxml/RecordPayment.fxml
target/classes/GUI/fxml/RegisterNewCustomer.fxml
target/classes/GUI/fxml/RegisterNewUser.fxml
target/classes/GUI/fxml/Reports.fxml
target/classes/GUI/fxml/Tasks.fxml
target/classes/GUI/fxml/UserAccounts.fxml
target/classes/GUI/HomeScreen.class
target/classes/GUI/images/BAPERS Logo Final.png
target/classes/GUI/images/BapersLogo
target/classes/GUI/images/BapersLogo.jpg
target/classes/GUI/images/BIPL-Performance-Report-Icon.png
target/classes/GUI/images/Create-Job-Order-icon.jpg
target/classes/GUI/images/Create-Job-Order-Icon.png
target/classes/GUI/images/Customer-Accounts-icon.jpg
target/classes/GUI/images/Customer-Report-Customer-Account-Icon.png
target/classes/GUI/images/CustomerAccount (2).jpeg
target/classes/GUI/images/CustomerAccount.jpeg
target/classes/GUI/images/CustomerAccountIcon.jpg
target/classes/GUI/images/Database-Icon.png
target/classes/GUI/images/Database-Restore-Icon.png
target/classes/GUI/images/Database-title.jpg
target/classes/GUI/images/DatabaseIcon.jpg
target/classes/GUI/images/DatabaseIcon2.jpg
target/classes/GUI/images/Delete-Icon.png
target/classes/GUI/images/DeleteIcon.jpg
target/classes/GUI/images/Edit-Customer-Details-Page.jpg
target/classes/GUI/images/Edit-Icon.png
target/classes/GUI/images/EditCustomerDetails.fxml
target/classes/GUI/images/editIcon.jpg
target/classes/GUI/images/editIcon.png
target/classes/GUI/images/Home-PageIcon.jpg
target/classes/GUI/images/Homepage
target/classes/GUI/images/HomeScreen.fxml
target/classes/GUI/images/Job-Icon.png
target/classes/GUI/images/JobsIcon.jpg
target/classes/GUI/images/JobsTitle.jpg
target/classes/GUI/images/Record-Payment-Icon.png
target/classes/GUI/images/Record-Payments-icon.jpg
target/classes/GUI/images/RecordPaymentIcon.jpg
target/classes/GUI/images/Register-New-Customer-Page.jpg
target/classes/GUI/images/Register-New-Customer-User-Icon.png
target/classes/GUI/images/Reports-Icon.png
target/classes/GUI/images/ReportsIcon.png
target/classes/GUI/images/RestoreIcon.jpg
target/classes/GUI/images/Server-Backup-Icon.png
target/classes/GUI/images/Staff-Report-Icon-User-Account-Icon.png
target/classes/GUI/images/Tasks-Icon.png
target/classes/GUI/images/TasksIcon.jpg
target/classes/GUI/JobsScreen$1.class
target/classes/GUI/JobsScreen$2.class
target/classes/GUI/JobsScreen.class
target/classes/GUI/Login.class
target/classes/GUI/PaymentsScreen$1.class
target/classes/GUI/PaymentsScreen$2.class
target/classes/GUI/PaymentsScreen.class
target/classes/GUI/ProcessTasksScreen$1.class
target/classes/GUI/ProcessTasksScreen$2.class
target/classes/GUI/ProcessTasksScreen.class
target/classes/GUI/RecordPaymentScreen.class
target/classes/GUI/RegisterNewCustomerScreen$1.class
target/classes/GUI/RegisterNewCustomerScreen$2.class
target/classes/GUI/RegisterNewCustomerScreen.class
target/classes/GUI/RegisterNewUserScreen.class
target/classes/GUI/ReportsScreen.class
target/classes/GUI/TasksScreen$1.class
target/classes/GUI/TasksScreen.class
target/classes/GUI/UpdateExistingTaskScreen.class
target/classes/GUI/UserAccountScreen$1.class
target/classes/GUI/UserAccountScreen.class
target/classes/GUI/Window$1.class
target/classes/GUI/Window$2.class
target/classes/GUI/Window$3.class
target/classes/GUI/Window$4.class
target/classes/GUI/Window$5.class
target/classes/GUI/Window$6.class
target/classes/GUI/Window.class
target/classes/module-info.class
target/classes/PAYMENT/CardDetails.class
target/classes/PAYMENT/I_Payment.class
target/classes/PAYMENT/Payment.class
target/classes/PAYMENT/SQL_PaymentHelper.class
target/classes/PROCESS/I_PROCESS.class
target/classes/PROCESS/Job.class
target/classes/PROCESS/SQL_JobHelper.class
target/classes/PROCESS/SQL_TaskHelper.class
target/classes/PROCESS/SQLHelper2.class
target/classes/PROCESS/TaskDescription.class
target/classes/PROCESS/TaskInAJob.class
target/classes/PROCESS/TaskList.class
target/classes/REPORT/CustomerReport.class
target/classes/REPORT/PDFGeneration.class
target/classes/REPORT/Report.class
target/classes/REPORT/StaffReport.class
target/classes/REPORT/SummaryReport.class
