
out/production/BAPERS-FINAL/GUI/images/Server-Backup-Icon.png
out/production/BAPERS-FINAL/GUI/images/Staff-Report-Icon-User-Account-Icon.png
out/production/BAPERS-FINAL/GUI/images/Tasks-Icon.png
out/production/BAPERS-FINAL/GUI/images/TasksIcon.jpg
out/production/BAPERS-FINAL/GUI/JobProgressScreen.class
out/production/BAPERS-FINAL/GUI/JobsScreen.class
out/production/BAPERS-FINAL/GUI/Login.class
out/production/BAPERS-FINAL/GUI/RecordPaymentScreen.class
out/production/BAPERS-FINAL/GUI/RegisterNewCustomerScreen.class
out/production/BAPERS-FINAL/GUI/RegisterNewUserScreen.class
out/production/BAPERS-FINAL/GUI/ReportsScreen.class
out/production/BAPERS-FINAL/GUI/TasksScreen.class
out/production/BAPERS-FINAL/GUI/UpdateExistingTaskScreen.class
out/production/BAPERS-FINAL/GUI/UserAccountScreen$1.class
out/production/BAPERS-FINAL/GUI/UserAccountScreen.class
out/production/BAPERS-FINAL/GUI/Window.class
out/production/BAPERS-FINAL/module-info.class
out/production/BAPERS-FINAL/PAYMENT/CardDetails.class
out/production/BAPERS-FINAL/PAYMENT/I_Payment.class
out/production/BAPERS-FINAL/PAYMENT/Payment.class
out/production/BAPERS-FINAL/PAYMENT/SQL_PaymentHelper.class
out/production/BAPERS-FINAL/PROCESS/I_PROCESS.class
out/production/BAPERS-FINAL/PROCESS/Job.class
out/production/BAPERS-FINAL/PROCESS/SQL_JobHelper.class
out/production/BAPERS-FINAL/PROCESS/SQL_TaskHelper.class
out/production/BAPERS-FINAL/PROCESS/SQLHelper2.class
out/production/BAPERS-FINAL/PROCESS/Task.class
out/production/BAPERS-FINAL/PROCESS/TaskDescription.class
out/production/BAPERS-FINAL/PROCESS/TaskList.class
out/production/BAPERS-FINAL/REPORT/CustomerReport.class
out/production/BAPERS-FINAL/REPORT/Report.class
out/production/BAPERS-FINAL/REPORT/StaffReport.class
out/production/BAPERS-FINAL/REPORT/SummaryReport.class
out/production/BAPERS-FINAL/ACCOUNT/CustomerAccountDetails.class
out/production/BAPERS-FINAL/ACCOUNT/I_CustomerAccount.class
out/production/BAPERS-FINAL/ACCOUNT/Impl_CustomerAccount.class
out/production/BAPERS-FINAL/ACCOUNT/ListOfCustomers.class
out/production/BAPERS-FINAL/ACCOUNT/SQL_CustomerAccountHelper.class
out/production/BAPERS-FINAL/ADMIN/Alert.class
out/production/BAPERS-FINAL/ADMIN/Database.class
out/production/BAPERS-FINAL/ADMIN/DatabaseConnectivity.class
out/production/BAPERS-FINAL/ADMIN/DBConfiguration.class
out/production/BAPERS-FINAL/ADMIN/I_DatabaseConnectivity.class
out/production/BAPERS-FINAL/ADMIN/SQL_UserHelper.class
out/production/BAPERS-FINAL/ADMIN/SQLHelper.class
out/production/BAPERS-FINAL/ADMIN/UserAccount.class
out/production/BAPERS-FINAL/CONTROLLER/ACCT_UI_Controller.class
out/production/BAPERS-FINAL/CONTROLLER/ADMIN_UI_Controller.class
out/production/BAPERS-FINAL/CONTROLLER/Main.class
out/production/BAPERS-FINAL/CONTROLLER/PROC_UI_Controller.class
out/production/BAPERS-FINAL/CONTROLLER/UI_Controller.class
out/production/BAPERS-FINAL/CUSTOMER/Discount.class
out/production/BAPERS-FINAL/CUSTOMER/FixedDiscountRate.class
out/production/BAPERS-FINAL/CUSTOMER/FlexibleDiscountRate.class
out/production/BAPERS-FINAL/CUSTOMER/VariableDiscountRate.class
out/production/BAPERS-FINAL/GUI/ActiveJobScreen.class
out/production/BAPERS-FINAL/GUI/AddNewTaskScreen.class
out/production/BAPERS-FINAL/GUI/CreateJobScreen.class
out/production/BAPERS-FINAL/GUI/CustomerAccountScreen.class
out/production/BAPERS-FINAL/GUI/DatabaseScreen.class
out/production/BAPERS-FINAL/GUI/EditCustomerDetailsScreen.class
out/production/BAPERS-FINAL/GUI/EditUserScreen.class
out/production/BAPERS-FINAL/GUI/fxml/AddNewTask.fxml
out/production/BAPERS-FINAL/GUI/fxml/CreateJobOrder.fxml
out/production/BAPERS-FINAL/GUI/fxml/CustomerAccounts.fxml
out/production/BAPERS-FINAL/GUI/fxml/Database.fxml
out/production/BAPERS-FINAL/GUI/fxml/EditCustomerDetails.fxml
out/production/BAPERS-FINAL/GUI/fxml/EditUserDetails.fxml
out/production/BAPERS-FINAL/GUI/fxml/HomeScreen.fxml
out/production/BAPERS-FINAL/GUI/fxml/Jobs.fxml
out/production/BAPERS-FINAL/GUI/fxml/Login.fxml
out/production/BAPERS-FINAL/GUI/fxml/ProgressTasks.fxml
out/production/BAPERS-FINAL/GUI/fxml/RecordPayment.fxml
out/production/BAPERS-FINAL/GUI/fxml/RegisterNewCustomer.fxml
out/production/BAPERS-FINAL/GUI/fxml/RegisterNewUser.fxml
out/production/BAPERS-FINAL/GUI/fxml/Reports.fxml
out/production/BAPERS-FINAL/GUI/fxml/Tasks.fxml
out/production/BAPERS-FINAL/GUI/fxml/UpdateTasks.fxml
out/production/BAPERS-FINAL/GUI/fxml/UserAccounts.fxml
out/production/BAPERS-FINAL/GUI/HomeScreen.class
out/production/BAPERS-FINAL/GUI/images/BAPERS Logo Final.png
out/production/BAPERS-FINAL/GUI/images/BapersLogo
out/production/BAPERS-FINAL/GUI/images/BapersLogo.jpg
out/production/BAPERS-FINAL/GUI/images/BIPL-Performance-Report-Icon.png
out/production/BAPERS-FINAL/GUI/images/Create-Job-Order-icon.jpg
out/production/BAPERS-FINAL/GUI/images/Create-Job-Order-Icon.png
out/production/BAPERS-FINAL/GUI/images/Customer-Accounts-icon.jpg
out/production/BAPERS-FINAL/GUI/images/Customer-Report-Customer-Account-Icon.png
out/production/BAPERS-FINAL/GUI/images/CustomerAccount (2).jpeg
out/production/BAPERS-FINAL/GUI/images/CustomerAccount.jpeg
out/production/BAPERS-FINAL/GUI/images/CustomerAccountIcon.jpg
out/production/BAPERS-FINAL/GUI/images/Database-Icon.png
out/production/BAPERS-FINAL/GUI/images/Database-Restore-Icon.png
out/production/BAPERS-FINAL/GUI/images/Database-title.jpg
out/production/BAPERS-FINAL/GUI/images/DatabaseIcon.jpg
out/production/BAPERS-FINAL/GUI/images/DatabaseIcon2.jpg
out/production/BAPERS-FINAL/GUI/images/Delete-Icon.png
out/production/BAPERS-FINAL/GUI/images/DeleteIcon.jpg
out/production/BAPERS-FINAL/GUI/images/Edit-Customer-Details-Page.jpg
out/production/BAPERS-FINAL/GUI/images/Edit-Icon.png
out/production/BAPERS-FINAL/GUI/images/EditCustomerDetails.fxml
out/production/BAPERS-FINAL/GUI/images/editIcon.jpg
out/production/BAPERS-FINAL/GUI/images/editIcon.png
out/production/BAPERS-FINAL/GUI/images/Home-PageIcon.jpg
out/production/BAPERS-FINAL/GUI/images/Homepage
out/production/BAPERS-FINAL/GUI/images/HomeScreen.fxml
out/production/BAPERS-FINAL/GUI/images/Job-Icon.png
out/production/BAPERS-FINAL/GUI/images/JobsIcon.jpg
out/production/BAPERS-FINAL/GUI/images/JobsTitle.jpg
out/production/BAPERS-FINAL/GUI/images/Record-Payment-Icon.png
out/production/BAPERS-FINAL/GUI/images/Record-Payments-icon.jpg
out/production/BAPERS-FINAL/GUI/images/RecordPaymentIcon.jpg
out/production/BAPERS-FINAL/GUI/images/Register-New-Customer-Page.jpg
out/production/BAPERS-FINAL/GUI/images/Register-New-Customer-User-Icon.png
out/production/BAPERS-FINAL/GUI/images/Reports-Icon.png
out/production/BAPERS-FINAL/GUI/images/ReportsIcon.png
out/production/BAPERS-FINAL/GUI/images/RestoreIcon.jpg
*.iml
out/*
libs/
.idea/
BAPERS3/PROCESS/Testing.java